:root {
    --background: #0a0a0a;
    --foreground: #f0f0f0;
    --blue: #0264dd;
    --orange: #f2bb29;
    --red: #dd0404;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* FOR CHROME */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

body, .app {
    margin: 0;
    padding: 0;
}